<a href="https://colab.research.google.com/github/pradeeppbabu/hello-world/blob/master/data_types_lecture_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var_1 = 9
print(type(var_1))

<class 'int'>

inga output ena na 9 ooda data type ena va python vachi iruku nu kamikuthu

In [ ]:
var_1 = 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
print(var_1)

99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999

inga paru int data type la value ooda range limit ilama iruku

In [ ]:
var_1 = 9
var_3 = 5.9
print(var_1 + var_3)
print (type (var_1))
print (type (var_3))

14.9
<class 'int'>
<class 'float'>

inga decimal value ooda data type python ena vachi iruku nu kandupuduchi irukom

In [ ]:
var_1 = O09
var_3 = Ox10
print(var_1)
print(var_3)

NameError: name 'O09' is not defined

In [ ]:
var_1 = 0o127
var_3 = 0x10
print(var_1)
print(var_3)

87
16

inga 87 ah octal ku convert pana 0o127 varum athe mari tn second um

In [ ]:
var_1 = "rb raj pradeep"
print(type(var_1))

<class 'str'>

inga output la 'str' vanthu iruku apdy na assign pani irukurathu string ah assign pani iruku

In [ ]:
var_1 = "rb raj pradeep"
print(type(var_1))
print(var_1[5])
print(var_1[7])

<class 'str'>
j
p

2nd line in o/p tn best example for sequence of character la assign pani iruku

3rd line in o/p thapu jenny solar padi (15.01) anga space ah sting ah count panikuthu but intha studio la space ah string ah consider panama leave panitu adutha character ah o/p ah kaatuthu.

In [ ]:
var_1 = "rb raj pradeep "
var_3 = "scholar"
print(var_1 + var_3)
print(var_1 * 2)

rb raj pradeep scholar
rb raj pradeep rb raj pradeep

In [ ]:
var_1 = "rb raj pradeep "
var_3 = "scholar"
a = 9
print(var_1 + var_3)
print(var_1 + a)

rb raj pradeep scholar

TypeError: can only concatenate str (not "int") to str

inga string and string matum tn concatenate panum , int and string ah conactenate pananthu.

In [ ]:
var_1 = "123 "
var_3 = "scholar"
print(var_1 + var_3)
print("123" + "1")

123 scholar
1231

output paru sring and string ah print pani iruku.

In [1]:
print("rb raj pradeep's + \"book \"")

rb raj pradeep's + "book "

In [2]:
print("rb raj pradeep \'s + \"book \"")

rb raj pradeep 's + "book "

In [3]:
print("rb raj pradeep \'s + \"book "")

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-2086991660.py, line 1)

inga single quotes and double quotes lam special meaning kodukum interpreter ku so itha skip pana nama backward slash potanum ilana interpreter syntaxerror katum.

In [4]:
print("rb raj pradeep \'s \n \"book \"")

rb raj pradeep 's
 "book "

In [5]:
print("rb raj pradeep \'s \\n \"book \"")

rb raj pradeep 's \n "book "

last two o/p paru \n na special meaning iruku - new line nu artham. intha special meaning ah skip pana nama backward slash use panrom  then o/p la \n um vanthruthu.

In [6]:
var = true
print(var)

NameError: name 'true' is not defined

true nu ethuvum namalum,  predefined aavum ethuvum define pana la so nameerror tn interpreter katum.

In [7]:
var = True
print (var)
print (type(var))

True
<class 'bool'>

In [ ]:
True nu already predefined ah define pani irukanga.so inga o/p varum.

In [8]:
a=1
c=9
var = a<c
print(var)

True

inga True nu nama assign panala. athu expression vachi True nu soliduchu