<a href="https://colab.research.google.com/github/pradeeppbabu/hello-world/blob/master/type_checking%2C_type_casting_lecture_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(len ("rb raj pradeep"))

14

In [ ]:
print(len ("9943144119"))

10

In [ ]:
print(len (9943144119))

TypeError: object of type 'int' has no len()

inga numbers ah double quotes kodukalana typeerror tn varum. en double quotes venum na anga len fn iruku intha len fn double quotes iruntha tn count panum.len fn character ah count panikum.

In [ ]:
print(len (rb raj pradeep))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-4245945495.py, line 1)

inga paru len fn kaana syntax la ila nu interpreter soluthu. above example um intha example um partha interpreter ku purithu numbers iruntha ena datatype nu purinchikuthu, letters iruntha ena datatype nu purinchikuthu. interpreter ethuku typeerror solanum, syntax error solanum. terithu.

In [ ]:
length = (len ("9943144119"))
print ("your mobile number is" + length + "  which is very good number")

TypeError: can only concatenate str (not "int") to str

inga concatenation fn str to str tn panum. int to str panathu. interpreter ku terithu length ngrathu int la iruku nu. so concatenate fn ku allow pana matinguthu.  ipo intha length (int) ah str ah mathanum apo tn concatenate pana mudiyum .

In [ ]:
length = (len ("9943144119"))
print ("your mobile number is" + str(length) + "  which is very good number")

your mobile number is10  which is very good number

interpreter purinchiduchu ipo elam str la iruku nu.

itha tn int to str conversion nu solrom. purithal ku --- length la int tn iruku but int ah interpreter character ah paka muyarchi seirom so str fn use pana length la ula value ah int ah parkama str ah parthu atha apdyae print pana muyarchikum (interpreter tn muyarchikum)

In [1]:
print(10+10)

20

In [2]:
print ("10" + "10")

1010

In [5]:
print(int("10") + int("10"))
print(type(int))

20
<class 'type'>

interpreter ah str la ullatha int ah paka solrom. apdy pathuchu na value ah eduthukum. print fn antha values ah plus pani o/p la kodukum.

so inga string int ah convert aagi iruku.

In [6]:
print(10 + float("10.1"))

20.1

interpreter ah str aah ulatha float ah paka solrom.

In [13]:
name = "99999"
print(type(name))
print(int(name))
print(str(name))
print(name)

<class 'str'>
99999
99999
99999

inga name la value ah string la assign panrom. apo name ooda type str. type str aah ula name ah int ah paka solrom athuku interpreter 99999 nu soluthu. name la ena iruku nu print pana solrom apo interpreter 99999 nu soluthu.

In [15]:
name = "rb raj pradeep"
print (type(name))
print (int(name))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'rb raj pradeep'

interpreter ah (2nd line la ulatha ) name ah int ah paka solrom. interpreter previous example la numbers ah patha inthaa example la letters ah paka matinguthu.

enaku oru kelvi ipo intha name ah epadi int ah paka vaikurathu or name ah str to int epadi convert panrathu.

In [17]:
first_number = input("enter first number ")
second_number = input("enter second number ")
sum = first_number + second_number
print(sum)

enter first number 99
enter second number 55
9955

ena intha mari varuthu. ipo output vachi interpreter ena mari yosikuthu nu paru apo unaku epadi solve pnanum nu idea ah vanthrum..

inga o/p la rendu numbers um concatenate pana mari vanthu iruku. apo input() fn la ethu kuduthalum athu str ah interpreter eduthukum.

In [18]:
first_number = input("enter first number ")
second_number = input("enter second number ")
sum = int(first_number)  + int(second_number)
print(sum)

enter first number 99
enter second number 55
154

previous example la input fn la ulatha str ah eduthukuchu then athoda o/p concatenate pani vanthuruchu rather nama ethir patha pathiluku pathila.

intha example la input fn la ula str ah interpreter ku int ah paka soli nama ethir patha pathila kondu vantom.